<div id="pagination" class="flex items-center gap-8 mt-5 justify-center">
    <button id="back-page" class="relative h-8 max-h-[32px] w-8 max-w-[32px] select-none rounded-lg text-center align-middle font-sans text-xs font-medium uppercase text-gray-900 transition-all hover:opacity-75 focus:ring-gray-300"
            type="button">
        <img width="30" height="30" src="https://img.icons8.com/ios/50/circled-left-2.png" alt="circled-left-2"/>
    </button>
    <p class="block font-sans text-base antialiased font-normal leading-relaxed text-gray-700">
        Page <strong class="text-gray-900" id="current-index"></strong> of
        <strong class="text-gray-900" id="total-page"></strong>
    </p>
    <button id="next-page" class="relative h-8 max-h-[32px] w-8 max-w-[32px] select-none rounded-lg text-center align-middle font-sans text-xs font-medium uppercase text-gray-900 transition-all hover:opacity-75 focus:ring-gray-300"
            type="button">
        <img width="30" height="30" src="https://img.icons8.com/ios/50/circled-right-2.png" alt="circled-right-2"/>
    </button>
</div>