@page
@using Microsoft.EntityFrameworkCore
@model TutorDemand.RazorWebApp.Pages.Auth.LoginModel
@{
}

<div class="flex items-center justify-center mt-[20%]">
    <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-sm">
        <h2 class="text-2xl font-bold mb-6 text-gray-900">Login</h2>
        
        <form method="post" asp-page-handler="Login">
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="email">Email</label>
                <input asp-for="email" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="email" placeholder="Email" required="">
            </div>
            <div class="mb-6">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="password">Password</label>
                <input asp-for="password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" placeholder="********" required="">
            </div>
            <div class="flex items-center justify-center">
                    <button class="bg-gradient-to-r from-teal-400 via-teal-500 to-teal-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-teal-300 text-white font-bold py-2 px-4 rounded @(string.IsNullOrEmpty(Model.ExistedCustomer) ? "" : "pointer-events-none opacity-50") cursor-pointer" type="submit">
                        Sign In
                    </button>
            </div>
        </form>
        <!-- Display error message if present -->
        @if (ViewData["ErrorMessage"] != null)
        {
        <div class="flex items-center justify-center mt-4 text-red-500">
            @ViewData["ErrorMessage"]
        </div>
        }
    </div>
</div>