@page
@model TutorDemand.RazorWebApp.Pages.Subject.CreateModel
@{
}

<div class="mx-auto max-w-3xl rounded-lg bg-white p-8 shadow-lg" id="subjectModel">
    <h1 class="mb-4 text-2xl font-bold">Add Subject</h1>
    <div class="bg-gray-100 p-8">
        <form method="post">
            @* <div asp-validation-summary="All" class="text-sm italic text-red-500"></div> *@
            <div class="mb-4">
                <label asp-for="SubjectAddDto.SubjectCode"
                       class="mb-2 block font-bold text-gray-700">
                    Code
                </label>
                <input asp-for="SubjectAddDto.SubjectCode" type="text"
                       class="w-1/2 appearance-none rounded border px-3 py-2 leading-tight text-gray-700 shadow focus:outline-none focus:shadow-outline" /><br />
                <span asp-validation-for="SubjectAddDto.SubjectCode"
                      class="text-sm italic text-red-500">
                </span>
            </div>

            <div class="mb-4">
                <label asp-for="SubjectAddDto.Name"
                       class="mb-2 block font-bold text-gray-700">
                    Name
                </label>
                <input asp-for="SubjectAddDto.Name" type="text"
                       class="w-1/2 appearance-none border px-3 py-2 leading-tight text-gray-700 shadow focus:outline-none focus:shadow-outline" /><br />
                <span asp-validation-for="SubjectAddDto.Name"
                      class="text-sm italic text-red-500">
                </span>
            </div>

            <div class="mb-4">
                <label asp-for="SubjectAddDto.Image"
                       class="mb-2 block font-bold text-gray-700">
                </label>

                <!-- Show image URL (if any)-->
                <span id="showImageUrl"
                      class="text-sm underline cursor-pointer"
                      style="display:none">
                    Show image URL
                </span>
                <input asp-for="SubjectAddDto.Image" type="text"
                       id="imageUrl"
                       class="w-full border-none mb-4 bg-gray-100 text-blue-500 font-bold italic break-all focus:outline-none"
                       style="display:none" /><br />

                <!-- Show subject image -->
                <img src="" id="subjectImageDisplay" width="300px" class="mb-4" style="display:none" />

                <!-- Select file handling-->
                <input type="button"
                       id="subjectImageTarget"
                       value="Browse"
                       class="text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-3 py-2 me-2 mb-2 cursor-pointer"
                       onclick="document.getElementById('file').click();" />
                <input type="file" style="display:none;" id="file" />

            </div>

            <div class="mb-8">
                <label asp-for="SubjectAddDto.Description" for="descriptionEditor"
                       class="mb-2 block font-bold text-gray-700">
                    Description
                </label>
                <textarea type="text" id="descriptionEditor" asp-for="SubjectAddDto.Description"></textarea>
            </div>

            <div class="mb-4 flex flex-col">
                <label asp-for="SubjectAddDto.Duration" for="duration"
                       class="mb-2 block font-bold text-gray-700">
                    Duration
                </label>
                @* <input type="number" min="1" max="6" asp-for="SubjectAddDto.Duration"
                class="ml-3 text-center"/> *@
                <div class="flex mt-2">
                    <button type="button" id="decrement-button" data-input-counter-decrement="quantity-input" class="bg-gray-100 dark:bg-white-500 dark:hover:bg-gray-300 dark:border-gray-300 hover:bg-gray-200 border border-gray-400 rounded-s-lg p-2 h-8 focus:ring-gray-100 dark:focus:ring-gray-200 focus:ring-2 focus:outline-none">
                        <svg class="w-3 h-3 text-gray-900 dark:text-dark" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 2">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h16" />
                        </svg>
                    </button>

                    <input asp-for="SubjectAddDto.Duration" type="text" id="quantity-input" data-input-counter aria-describedby="helper-text-explanation" class="bg-gray-50 border-x-0 border-gray-300 h-8 text-center text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-[40px] py-2.5" placeholder="1" data-input-counter-min="1" data-input-counter-max="9" required />

                    <button type="button" id="increment-button" data-input-counter-increment="quantity-input" class="bg-gray-100 dark:bg-white-500 dark:hover:bg-gray-300 dark:border-gray-300 hover:bg-gray-200 border border-gray-300 rounded-e-lg p-2 h-8 focus:ring-gray-100 dark:focus:ring-gray-200 focus:ring-2 focus:outline-none">
                        <svg class="w-3 h-3 text-gray-900 dark:text-dark" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16" />
                        </svg>
                    </button>
                    <p id="helper-text-explanation" class="ml-5 mt-1 text-sm text-gray-500 dark:text-gray-400">Please select duration from 1 to 9.</p>
                </div>
            </div>

            <div class="flex justify-end gap-x-4">
                <a href="/subject/list" class="w-32 cursor-pointer rounded-lg border border-primary bg-gray-100 px-4 py-2 text-center text-primary hover:opacity-85">
                    Back to List
                </a>
                <button type="submit" class="w-32 cursor-pointer rounded-lg bg-primary px-4 py-2 text-white hover:opacity-85">Create</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

        $(document).ready(function () {

            var editor = new FroalaEditor('#descriptionEditor', {
                imageUrl: '/api/images'
            });

            const imageUrl = document.getElementById("imageUrl");
            const showImageUrl = document.getElementById("showImageUrl");
            const subjectImageDisplay = document.getElementById("subjectImageDisplay");
            const subjectImageInput = document.getElementById("file");

            async function handleImageAction(e) {
                let data = new FormData();
                data.append('file', e.target.files[0])

                await fetch('/api/images', {
                    method: 'POST',
                    headers: {
                        'Accept': '*/*'
                    },
                    body: data
                }).then(response => response.json()).then(result => {
                    imageUrl.value = result.link;
                    imageUrl.style.display = 'none';
                    subjectImageDisplay.style.display = 'block';
                    subjectImageDisplay.src = result.link;
                    showImageUrl.style.display = 'block';
                })

            }

            function handleShowImage() {
                if (imageUrl.value !== "" && imageUrl) {
                    imageUrl.style.display = 'block';
                    showImageUrl.style.display = 'none';
                }
            }


            subjectImageInput.addEventListener('change', handleImageAction);
            showImageUrl.addEventListener('click', handleShowImage);

        });
    </script>
}